<div class="accordion" id="accordionExample">
  <% @profiles.each do |profile| %>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <%= profile['username'] %>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <ul class="list-group">
            <% profile['repositories'].each do |repository| %>
              <li class="list-group-item"><strong><%= repository['name'] %>:</strong> <%= repository['tags'] %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>